.navBarContainer {
  border-right: var(--border);
  height: 100vh;
  width: 275px;
}

.navBarHeader {
  color: #294cd6;
  padding-top: 20px;
  padding-left: 15px;
  margin-bottom: 35px;
  font-size: 22px;
}

.navBarList {
  color: var(--text-unselected);
  flex-direction: column;
}

.navBarListButton {
  color: var(--text-unselected);
  background: transparent;
  margin-bottom: 15px;
  width: 225px;
  height: 50px;
  padding-left: 25px;
  border-radius: 5px;
}

.navBarListButton:hover {
  background-color: #5e5e5e;
}
