* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --primary-blue: #4179e0;
  --hover-blue: #6e96df;
  --primary-background: #000;
  --text-selected: var(--primary-blue);
  --text-unselected: white;
  --border: 1px solid #5e5e5e;
}

body {
  font-family: "Open Sans";
  margin: 0px;
}

.main {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-center {
  display: flex;
  justify-content: left;
  align-items: center;
}

.full-width {
  position: absolute;
  left: 0px;
  right: 0px;
}
